.itemMain__content
  h2
    color: #393939
    font-size: 22px
    font-weight: bold
    margin-top: 10px
    margin-bottom: 20px
  h3
    font-size: 18px
    color: #a4a9ab
    margin-bottom: 30px
  div
    color: #a4a9ab
    line-height: 1.5
    margin-bottom: 5px
    b
      font-weight: bold
  .rate
    margin-top: 10px
  p
    color: #a4a9ab
    line-height: 1.6
    margin-top: 30px
