.products
  &-section
    padding-top: 50px
    padding-bottom: 50px
  &__row
    display: flex
    justify-content: space-between
    align-items: stretch
  &__categorie
    background-color: #fff
    width: 30%
    padding-left: 20px
    padding-right: 20px
