@mixin max-width($w)
  @media (max-width: $w)
    @content

.trending
  &__row
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 40px
    +max-width(992px)
      justify-content: space-around
  &__item
    width: 23%
    margin-bottom: 25px
    padding-bottom: 10px
    +max-width(992px)
      width: 30%
    +max-width(710px)
      width: 40%
    +max-width(431px)
      width: 70%
    &:hover
      h2
        transform: translateY(-50px)
        opacity: 0
        cursor: default
      h3
        transform: translateY(-50px)
        opacity: 0
        cursor: default
      div
        transform: translateY(-50px)
        opacity: 0
        cursor: default
      button
        visibility: visible
        opacity: 1
        transition: opacity .4s,  transform .3s, background-color .3s
        transform: translateY(-80px)

    img
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .05)
      position: relative
      z-index: 10
      max-width: 100%
    h2
      margin-top: 10px
      margin-bottom: 5px
      line-height: 1.6
      font-size: 16px
      color: #383838
      height: 50px
      overflow: hidden
      margin-bottom: 10px
      transition: .3s
    h3
      color: #a4a9ab
      margin-bottom: 30px
      transition: .3s
    div
      color: darken(#f5f5f5, 9%)
      transition: transform .2s, opacity .2s
      span
        color: #fdbc32
