@mixin max-width($w)
  @media (max-width: $w)
    @content

.products
  &__item
    margin-bottom: 30px
    margin-top: 30px
    +max-width(1085px)
      width: 30.33%
    +max-width(860px)
      width: 45%
    +max-width(638px)
      width: 90%
    +max-width(368px)
      width: 100%
    img
      max-width: 100%
    h2
      margin-bottom: 5px
      line-height: 1.55
      font-size: 14px
      color: #383838
      height: 40px
      overflow: hidden
      transition: .3s
      margin-bottom: 10px
    a
      text-decoration: none
      &:hover
        h2
          color: #02ae70
    h3
      color: #a4a9ab
      margin-bottom: 15px
      transition: .3s
    div
      color: darken(#f5f5f5, 9%)
      transition: transform .2s, opacity .2s
      span
        color: #fdbc32
  &__image
    width: 40%
    float: left
    padding-right: 20px
    +max-width(368px)
      padding-right: 10px
  &__content
    width: 60%
    float: right
